---
layout: default
title: Members
---

<div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80" aria-hidden="true">
  <div
    class="relative left-[calc(40%-11rem)] aspect-[1155/678] w-[46.125rem] -translate-x-1/2 rotate-[90deg] bg-gradient-to-tr from-[#FFFFFF] to-[#FFFFFF] sm:left-[calc(50%-20rem)] sm:w-[72.1875rem]"
    style="clip-path: polygon(74.1% 44.1%, 27.5% 50.0% 76.7%, 37.9% 100% 76.8%, 76.1% 97.7%)">
  </div>
</div>

<main class="isolate">
  <div class="mb-12">
    <main class="isolate">
      <div class="mx-auto mt-12 max-w-7xl px-6 sm:mt-36 lg:px-8">
        <div class="mx-auto max-w-2xl lg:text-center">
          {% include block-logotype.html %}
        </div>
      </div>
    </main>
  </div>
  <div class="mx-auto mt-24 max-w-7xl px-6 lg:px-8 pt-24 sm:pt-0">
    <div class="mx-auto max-w-2xl lg:mx-0">
      <h2 class="text-pretty text-6xl font-semibold tracking-tight text-gray-900 sm:text-5xl">
        Visibility
      </h2>
      <p class="mt-6 text-lg/8 text-slate-800">
        We believe in the potential of bitcoin, are experimenting toward transparency, and building in public.
        Welcome to Visible DAO.
      </p>
    </div>
    <ul role="list"
      class="mx-auto mt-20 grid max-w-2xl grid-cols-2 gap-x-8 gap-y-16 text-center sm:grid-cols-3 md:grid-cols-4 lg:mx-0 lg:max-w-none lg:grid-cols-5 xl:grid-cols-6">
      {% for member in site.data.members %}
      <li>
        <a
          href="{{ member.url }}"
          target="_blank"
        >
          {% if member.image_path != "" %}
          <img class="mx-auto size-24 rounded-full object-cover" src="{{ site.baseurl }}/assets/images/members/{{ member.image_path }}"
            alt="{{ member.display_name }} avatar">
          {% else %}
          <div class="bg-gradient-to-r from-[#FFA62B] via-[#FFCD4B] to-[#FFF275] mx-auto size-24 rounded-full">
          </div>
          {% endif %}
          <h3 class="mt-6 text-base/7 font-semibold tracking-tight text-slate-800">
            {{ member.display_name }}
          </h3>
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>

</main>
